name: Docker Build & Push to ECR

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      GH_PAT:
        required: true
      AWS_ACCOUNT_ID:
        required: true
      ROLE_ARN:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.ROLE_ARN }}
          aws-region: ${{ vars.REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, Tag, and Push Docker Image
        run: |
          IMAGE_TAG=${{ github.sha }}
          IMAGE_URI=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ vars.REGION }}.amazonaws.com/${{ vars.ECR_REPO }}

          docker build -t $IMAGE_URI:latest .
          docker tag $IMAGE_URI:latest $IMAGE_URI:$IMAGE_TAG

          docker push $IMAGE_URI:latest
          docker push $IMAGE_URI:$IMAGE_TAG
